<!DOCTYPE html>
<html lang="en">

  <div th:insert="~{fragments/header :: header}"></div>

  <body id="page-top">
	
	<div th:insert="~{fragments/navbar :: navbar}"></div>
    
    <div id="wrapper">

      <!-- Sidebar -->
      
      <div th:insert="~{fragments/sidebar :: sidebar}"></div>
      
      <div id="content-wrapper">

        <div class="container-fluid">

          

        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <div th:insert="~{fragments/footer :: footer}"></div>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

  </body>

</html>
